@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

/*Declare variables*/
:root {
    --textcolorlight: #f8f6ce;
    --textcolordark: #00008b;
    --primarybgcolor: #000000;
    --themecolor: #901414;
    --linkcolor: #fbeb00;
    --linkhlcolor: #66f366;
    --bordercolor: #584c07;
}

/*Set default font for whole page*/
body {
    font-family: 'Kanit', Arial, sans-serif;
}

/*Set header properties*/
header {
    padding: 20px;
    background-color: var(--primarybgcolor);
    color: var(--textcolorlight);
}

/*Set header title */
.header h1 {
    display: inline;
    font-size: 3.5em;
}

/*Set Nav link position in header*/
.header nav {
    padding-top: 0;
    margin-right: 0;
    float: right;
    font-size: 1.25em;
}

.header nav ul {
    list-style-type: none;
    display: flex;
}

.header nav ul li {
    margin-left: 25px;
}

.header a {
    color: var(--textcolorlight);
    text-decoration: none;
}

/*Set decorative banner image*/
.banner {
    background-image: url("../images/iron-man-banner.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: var(--primarybgcolor);
    height: 150px;
    width: 100%;
    position: relative;
}

/*Position subtitle over banner bottom right corner*/
.banner h2 {
    color: var(--textcolorlight);
    position: absolute;
    bottom: 10%;
    right: 2%;
    font-size: 3em;
}


/*set main content as flex column*/
.content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-image: radial-gradient(farthest-corner at 0px 0%,
            rgb(255, 249, 196) 0%,
            rgb(218, 181, 69) 70%,
            rgb(105, 3, 3) 100%);
}

/*set individual sections as flex rows*/
section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/*customise properties of title, taking up 30% the left hand side of the page and align text to right*/
.content .section-title {
    width: 30%;
    border-right: 3px solid var(--bordercolor);
    text-align: right;
    font-size: 3em;
    word-wrap: break-word;
    margin: 5px;
    padding-right: 10px;
    padding-top: 10px;
}


/*Adjust the property of content for each section*/
.section-content {
    margin: 5px;
    /* border: 1px solid; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 1 500px;
}

/*Adjust the line height for the About Me text*/
#about-me p {
    line-height: 1.5em;
}


/*Set some spacing in between each project*/
.section-content figure {
    margin: 10px;
}

/*Main project at the top*/
#work-profile .big-project {
    background-color: rgba(144, 20, 20, 0.744);
    background-image: url("../images/main_project.jpg");
    background-size: 100%;
    background-position: top center;
    background-blend-mode: multiply;
    position: relative;
    height: 60vh;
    width: 90%;
    border: 5px solid var(--themecolor);
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
}


/*other smaller sized projects listed below*/
#work-profile .small-projects {
    background-color: rgba(144, 20, 20, 0.744);
    background-image: url("../images/other_project.jpg");
    background-position: center center;
    background-size: 100%;
    background-blend-mode: multiply;
    position: relative;
    min-width: 50vh;
    min-height: 40vh;
    border: 5px solid var(--themecolor);
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1
}


/*Add hover effect over the individual project image*/
#work-profile figure:hover {
    background-color: none;
    background-blend-mode: normal;
}

/*Add project name text individual project image*/
#work-profile .section-content div {
    color: var(--textcolorlight);
    background-color: var(--themecolor);
    display: block;
    width: fit-content;
    padding: 5px;
    position: absolute;
    bottom: 10%;
}

/*customise project title and description text*/
#work-profile .project-name {
    font-size: 1.2em;
    font-weight: bolder;
}

#work-profile p {
    color: var(--textcolorlight);
    background-color: var(--themecolor);
    display: block;
    padding: 5px;
    font-size: 1em;
}

/*Customise the Contact Me links*/
.section-content ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    flex-shrink: 1;
}

.section-content ul li {
    margin: 5px 20px;
    padding: 10px;
}

.section-content a {
    color: var(--linkcolor);
}

.section-content a:visited {
    color: var(--linkhlcolor);
}

.section-content a:hover {
    color: var(--linkhlcolor);
}

.section-content a:active {
    color: var(--linkhlcolor);
}



/*Center align the footer*/
footer h2 {
    text-align: center;
    margin: auto;
    padding: 20px;
    font-size: 1.5em;
    background-color: var(--primarybgcolor);
    color: var(--textcolorlight);
}